.inputClass {
    margin-bottom: 3px;
}

.inputSpacer {
    margin-bottom: 20px;
}

.formRow {
    display: flex;
    flex-direction: row;
}

.workerPeriod {
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.walletAddress {
    width: 80%;
}

.stratumText {
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.miningPool {
    width: 100%
}

.applyButtonSpinner {
    width: 40px; 
}

.bp3-button {
  background: #1B1D4D !important;/* Green */
  color: white !important;
  font-size: 16px;
}

.bp3-button:disabled {
  background: lightgray !important;/* Green */
  color: gray  !important;
  font-size: 16px;
}

.bp3-control-indicator {
  background: #1B1D4D !important;/* Green */
  color: white !important;
  font-size: 16px;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
  color: white !important;
  font-size: 16px;
}

.bp3-tab-indicator {
  background: #1B1D4D !important;/* Green */
  color: white !important;
}

.bp3-control.bp3-switch .bp3-control-indicator {
  background: #D3D3D3 !important;/* Green */
}

.bp3-control.bp3-switch .bp3-control-indicator:hover {
  background: #ffc107 !important;
}

.bp3-control input:checked~.bp3-control-indicator {
  background: #1B1D4D !important;/* Green */
}

.bp3-tab {
  color: #1B1D4D !important;
  font-size: 16px;
}

.selectionButtons {
    float: right;
}

.selectionButton {
    margin-left: 2px;
}
