.MuiGrid-container > .MuiDivider-vertical.MuiDivider-flexItem {
    margin-right: -1px;
}

.system-option {
    padding: 8px;
}

@media (max-width: 899px) {
    .system-divider {
        display: none;
    }
}
