.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.dashboardCards {
    margin: 8%
}

.dashboardCard {
    margin: 20px;
}

.bp3-card {
  background: #1B1D4D !important;/* Green */
  color: white;
  font-size: 24px;
  text-align: center;

}

.bp3-card h3 {
  color: #ffc107;/* Green */
  font-size: 24px;
  text-align: center;

}

