div.Toastify__toast--default {
    min-height: 0;
    padding: 0;
}

div.Toastify__toast-body {
    padding: 0;
}

body {
    overflow-y: hidden;
}

#topbar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #171717;
    color: white;
}

#topbar button {
    color: white;
    float: right;
    height: 24px;
    background: none;
    border: none;
    width: 40px;
    transition: 0.25s;
    line-height: 0.8;
}

#close:hover {
    background: red;
}

#minimize:hover {
    background: #31348d;
}

#topbar button:focus {
    outline: none;
}

#titlebar {
    padding: 2px 0;
    padding-left: 30px;
    flex-grow: 1;
    -webkit-app-region: drag;
}

#titlebar img {
    position: absolute;
    left: 8px;
    top: 4px;
    height: 16px;
}

#body {
    padding: 0 8px;
    margin-top: 24px;
    height: calc(100vh - 24px);
    overflow-y: auto;
}

.main {
    margin-left: 57px;
    width: calc(100% - 57px);
    transition: ease 0.25s !important;
}

.mainShift {
    margin-left: 214px;
    width: calc(100% - 214px);
}

.drawer {
    width: 214px;
    white-space: nowrap;
    transition: ease 0.25s !important;
    overflow-x: hidden;
}

.drawerClose {
    width: 57px;
}

.logo {
    opacity: 0;
    height: 48px;
    transition: 0.25s;
}

.logoOpen {
    height: 105px;
    opacity: 1;
}

#version {
    position: absolute;
    bottom: 10px;
    left: 12px;
    height: initial;
}

button.menuBut {
    position: fixed;
    top: 32px;
    left: 12px;
    z-index: 1201;
    padding: 4px;
    min-width: 0;
    transition: 0.25s;
}

button.menuButOpen {
    left: 222px;
}

div.MuiDrawer-paper {
    color: rgba(255, 255, 255, 0.5);
    top: 29px;
    height: calc(100% - 24px);
}

.MuiDrawer-paper img {
    margin: 10px 0;
}

.MuiDrawer-paper .MuiDivider-root {
    background-color: #2fc1de;
}

.MuiDrawer-paper .MuiListItemText-root {
    margin-left: 16px;
}

#ipRange {
    width: 50px;
}
