#epicSidebarLogo {
    width: 160px;
}

.minimizeSidebarButton {
  float: left;
}

.maximizeSidebarButton {
    z-index: 1;
    position: absolute;
    left: 5px;
    top: 5px;
}

/* 1b1d4d
   ffc107
   */
