div.Toastify__toast--default {
    min-height: 0;
    padding: 0;
}

div.Toastify__toast-body {
    padding: 0;
}

/*.Toastify__progress-bar {

}*/

body {
    background-color: white;
    margin: 0 8px !important;
}

.main {
    margin-left: 57px;
    width: calc(100% - 57px);
    transition: ease 0.25s !important;
}

.mainShift {
    margin-left: 214px;
    width: calc(100% - 214px);
}

.drawer {
    width: 214px;
    white-space: nowrap;
    transition: ease 0.25s !important;
}

.drawerClose {
    width: 57px;
    overflow-x: hidden;
}

.logo {
    opacity: 0;
    height: 48px;
    transition: 0.25s;
}

.logoOpen {
    height: 105px;
    opacity: 1;
}

.menuBut {
    position: fixed !important;
    top: 8px;
    left: 12px;
    z-index: 1201 !important;
    padding: 4px !important;
    min-width: 0 !important;
    transition: 0.25s !important;
}

.menuButOpen {
    left: 222px;
}

div.MuiDrawer-paper {
    background-color: #1b1d4d;
    color: rgba(255, 255, 255, 0.5);
}

.MuiDrawer-paper .MuiSvgIcon-root {
    color: #ffc107;
}

.MuiDrawer-paper img {
    margin: 10px 0;
}

.MuiDrawer-paper .MuiDivider-root {
    background-color: #ffc107;
}

.MuiDrawer-paper .MuiListItemText-root {
    color: white;
    margin-left: 16px;
}

#ipRange {
    width: 50px;
}
