#epicSidebarLogo {
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 8px;
}

.sidebar {
  background: #1B1D4D !important;/* Green */
  color: white !important;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
.minimizeSidebarButton {
  position: absolute;
  float: left;
  background: #1B1D4D !important;/* Green */
  border-color: #ffc107 !important;
  border: 2px solid black;
  color: #1B1D4D !important;/* Green */
}

.maximizeSidebarButton {
    z-index: 1;
    position: absolute;
    left: 5px;
    top: 5px;
}

.vpnDialog {
    width: 30%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

/* 1b1d4d
   ffc107
   */
