#epicSidebarLogo {
    width: 160px;
}

.minimizeSidebarButton {
  position: absolute;
  float: left;
}

.maximizeSidebarButton {
    z-index: 1;
    position: absolute;
    left: 5px;
    top: 5px;
}

.vpnDialog {
    width: 30%;
}
/* 1b1d4d
   ffc107
   */
