.check-wrap {
    overflow: visible;
    position: relative;
}

.toolbar {
    padding: 4px 4px 0;
}

.toolbar .MuiButton-startIcon {
    position: relative;
    top: -1px;
    left: 3px;
}

.header-wrapper {
    display: flex;
    width: 100%;
}

.col-header {
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter {
    position: absolute !important;
    right: 8px;
    top: 8px;
    z-index: 2;
}

#simple-menu {
    max-height: 470px;
    outline: none;
    overflow: auto;
}

#simple-menu .MuiListItem-root {
    width: 215px;
    padding: 2px 36px;
}

#simple-menu .MuiCheckbox-root {
    left: -4px;
    position: absolute;
}

#datatable .MuiTableRow-root {
    width: initial !important;
}

#datatable .MuiCheckbox-root {
    top: -10px;
    left: -6px;
    position: absolute;
    padding: 8px;
    z-index: 2;
}

#datatable .MuiTableCell-head {
    white-space: nowrap;
    padding: 10px 30px 10px 10px;
}

#datatable .MuiTableCell-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px;
    height: 32px;
}

.MuiTableFooter-root {
    display: block !important;
    line-height: 39px;
    padding: 0 10px;
}

.resizer {
    display: inline-block;
    box-sizing: content-box;
    width: 1px;
    height: calc(100% - 16px);
    position: absolute;
    right: -8px;
    top: 0;
    position: absolute;
    z-index: 1;
}

/* LED button */

@keyframes flash {
    0% {
        color: red;
    }
    15% {
        color: red;
    }
    16% {
        color: rgba(255, 0, 0, 0.3);
    }
    31% {
        color: rgba(255, 0, 0, 0.3);
    }
    32% {
        color: red;
    }
    47% {
        color: red;
    }
    48% {
        color: rgba(255, 0, 0, 0.3);
    }
    100% {
        color: rgba(255, 0, 0, 0.3);
    }
}

#datatable .ip-col {
    padding-left: 56px;
}

button.led-toggle {
    position: absolute;
    top: 0;
    transform: translateX(-56px);
}

button.open-browser {
    position: absolute;
    top: 0;
    left: 50;
    transform: translateX(-32px);
}

.led-on {
    animation: flash;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
