@media (min-width: 600px) {
    button.MuiTab-root {
        min-width: 0;
    }
    #minerTab {
        min-width: 140px;
    }
}

/* General */

.MuiFormControl-root {
    margin-right: 12px !important;
}

#table .MuiButton-contained {
    line-height: 2;
    margin: 8px 12px 4px 0;
}

#table .MuiInputAdornment-root button {
    margin: 0;
}

.hb-good {
    background: rgba(76, 175, 80, 0.3);
}

.hb-warn {
    background: rgba(244, 67, 54, 0.3);
}

.password-apply {
    position: absolute;
    bottom: 8px;
}

/* CoinTab */

.pool {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1 !important;
}

.wallet {
    margin-right: 0 !important;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1 !important;
}

.period {
    display: inline-block;
    margin: 8px 1px 4px 1px;
    padding: 15px 0 6px 0;
    line-height: 1.1876em;
}

.worker {
    width: 150px;
}

.stratum {
    width: 161px;
}

.unique-id {
    top: -12px;
}

.unique-id-label {
    font-size: 12px;
    transform: translateY(-8px);
}

.flex-line {
    display: flex;
}

.flex-line > div {
    flex-shrink: 0;
}

/* ControlTab */

#control-tab button.but-group {
    width: 146px;
    margin: 2px;
}

#clone {
    float: right;
}
